<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Activity Update</title>
</head>

<body>
    <div class="container">
        <h1>Activity Update</h1>
        <p>An activity in the campaign <strong>{{.Campaign.Title}}</strong> has been updated.</p>
        <h3>Activity Details:</h3>
        <p>Title: <strong>{{.Activity.Title}}</strong></p>
        <p>Subtitle: <strong>{{.Activity.Subtitle}}</strong></p>
        <p>Update Type: <strong>{{.UpdateType}}</strong></p>
        <a href="#" class="button">View Activity</a>
        <div class="footer">
            <p>Thank you for using GoFundIt!</p>
        </div>
    </div>
</body>

</html>