<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Payment Notification</title>
</head>

<body>
    <div class="container">
        <h1>Payment Notification</h1>
        <p>A payment has been made for the campaign: <strong>{{.Campaign.Title}}</strong></p>
        <h3>Payment Details:</h3>
        <p>Contributor: <strong>{{.Contributor.Name}}</strong></p>
        <p>Amount: <strong>{{.Amount}}</strong></p>
        <a href="#" class="button">View Campaign</a>
        <div class="footer">
            <p>Thank you for using GoFundIt!</p>
        </div>
    </div>
</body>

</html>