<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Activity Approval Request</title>
</head>

<body>
    <div class="container">
        <h1>Activity Approval Request</h1>
        <p>A new activity in the campaign <strong>{{.Campaign.Title}}</strong> requires your approval.</p>
        <h3>Activity Details:</h3>
        <p>Title: <strong>{{.Activity.Title}}</strong></p>
        <p>Subtitle: <strong>{{.Activity.Subtitle}}</strong></p>
        <p>Cost: <strong>{{.Activity.Cost}}</strong></p>
        <p>Requested by: <strong>{{.RequestedBy}}</strong></p>
        <a href="#" class="button">Approve Activity</a>
        <div class="footer">
            <p>Thank you for using GoFundIt!</p>
        </div>
    </div>
</body>

</html>